.form-group
  .form-inputs
    .div.form-group
      %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} #{column}
      .col-sm-9
        = f.text_area column, class: 'input-xxlarge' 
.space-4
