.ptable
  .container
    / Pricing heading and paragraph
    %h2.head Pricing
    %p.para Et harum quidem rerum et expedita distinctio.
    .row
      .col-md-3.col-sm-6
        / Pricing table list
        .phighlight.ptable-content.animated.animation.bounceIn
          / Heading of item
          %h4 Fish Eye Cameras
          %p This book is a treatise.
          / Item cost
          %span.pcost $1400.50/pc
          / Item features list
          %ul.list
            %li 1200 Pages
            %li 20 Stories
            %li 24/7 Support
          / Buy now button
          %a.btn.btn-info{href: "#"} Buy It Now
      .col-md-3.col-sm-6
        / Pricing table list
        .ptable-content.animated.animation.bounceIn
          / Heading of item
          %h4 Bullet Cameras
          %p This book is an eiusmise.
          / Item cost
          %span.pcost $190.50/pc
          / Item features list
          %ul.list
            %li 1700 Pages
            %li 28 Stories
            %li 24/7 Support
          / Buy now button
          %a.btn.btn-info{href: "#"} Buy It Now
      .col-md-3.col-sm-6
        / Pricing table list
        .ptable-content.animated.animation.bounceIn
          / Heading of item
          %h4 Dome Cameras
          %p This book is an aboriose.
          / Item cost
          %span.pcost $130.50/pc
          / Item features list
          %ul.list
            %li 1100 Pages
            %li 18 Stories
            %li 24/7 Support
          / Buy now button
          %a.btn.btn-info{href: "#"} Buy It Now
      .col-md-3.col-sm-6
        / Pricing table list
        .ptable-content.animated.animation.bounceIn
          / Heading of item
          %h4 Box Cameras
          %p This book is a molestse.
          / Item cost
          %span.pcost $250.50/pc
          / Item features list
          %ul.list
            %li 2200 Pages
            %li 32 Stories
            %li 24/7 Support
          / Buy now button
          %a.btn.btn-info{href: "#"} Buy It Now
    %span#contact