%span.projects
.projects
  .container
    %h2.head PROJECTS


    / %p.para Et harum quidem rerum et expedita distinctio.
    / .product-content
    /   .row
    /     .col-md-5.col-sm-6
    /       / Product Item list
    /       %h3
    /         %i.fa.fa-puzzle-piece
    /         Temporibus autem et
    /       %p Aut rerum necessitatibus saepe eveniet ut stiae non recusandae. Itaque earum rerum hic tenetur ae box sapiente delectus.
    /       .sub-item
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span Dignissimos ducimus blanditiis.
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span Voluptas assumenda ess dolor repellendus.
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span Foresee the pain and troublet areto ensue.
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span Pleasures to secure other greater pleasu.
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span Duty through weakness of will, which is thes.
    /         .item
    /           %i.fa.fa-check-square-o
    /           %span The wise man therefore alwain these matter.
    /     .col-md-7.col-sm-6
    /       / Carousel for Product
    /       #carousel-example-generic.carousel.slide
    /         / Wrapper for slides
    /         .carousel-inner
    /           .item.active
    /             / Carousel Image
    /             %img.img-responsive{alt: "", src: asset_path("img/11.png")}/
    /           .item
    /             %img.img-responsive{alt: "", src: asset_path("img/12.jpg")}/
    /           .item
    /             %img.img-responsive{alt: "", src: asset_path("img/13.png")}/
    /       / Controls
    /       %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    /         %span.fa.fa-chevron-left
    /       %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    /         %span.fa.fa-chevron-right
  / %span#ptable


/ %h1 End  
/ %div.padding_page
/ End Product