/ Start revolution slider
%span.home
.bannercontainer
  .banner
    %ul
      / THE fade EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE
      %li{"data-slotamount" => "7", "data-transition" => "slidehorizontal"}
        %img{alt: "", src: asset_path("lenord-single-page-theme/img/banner_1.jpg")}/
        / .caption.lfl{"data-easing" => "easeInQuad", "data-speed" => "600", "data-start" => "1200", "data-x" => "20", "data-y" => "100"}
        /   %h5 KICKSTART YOUR WEBSITE
        / .caption.sfb{"data-eOK asing" => "easeOutExpo", "data-speed" => "500", "data-start" => "1500", "data-x" => "20", "data-y" => "160"}
        /   %h2 WITH SLIDER REVOLUTION!
        / .caption.lfr{"data-speed" => "300", "data-start" => "1300", "data-x" => "20", "data-y" => "240"}
        /   %p
        /     Unlimited again is there anyone who transaction again
        /     = succeed "is" do
        /       %br/
        / .caption.lfr.slide-img{"data-easing" => "easeInCirc", "data-speed" => "600", "data-start" => "2100", "data-x" => "700", "data-y" => "90"}
        /   %img.img-responsive{alt: "", src: asset_path("lenord-single-page-theme/img/5.png")}/
      

      %li{"data-slotamount" => "7", "data-transition" => "slidehorizontal"}
        %img{alt: "", src: asset_path("lenord-single-page-theme/img/banner_2.jpg")}/
        / .caption.lfl{"data-easing" => "easeInQuad", "data-speed" => "600", "data-start" => "1200", "data-x" => "20", "data-y" => "100"}
        /   %h5 KICKSTART YOUR WEBSITE
        / .caption.sfb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "1500", "data-x" => "20", "data-y" => "160"}
        /   %h2 WITH SLIDER REVOLUTION!
        / .caption.lfr{"data-speed" => "300", "data-start" => "1300", "data-x" => "20", "data-y" => "240"}
        /   %p
        /     Unlimited again is there anyone who transaction again
        /     = succeed "is" do
        /       %br/
        / .caption.lfr.slide-img{"data-easing" => "easeInCirc", "data-speed" => "600", "data-start" => "2100", "data-x" => "600", "data-y" => "90"}
        /   %img.img-responsive{alt: "", src: asset_path("lenord-single-page-theme/img/4.png")}/


      %li{"data-slotamount" => "7", "data-transition" => "slidehorizontal"}
        %img{alt: "", src: asset_path("lenord-single-page-theme/img/banner_3.jpg")}/
        / .caption.lfl{"data-easing" => "easeInQuad", "data-speed" => "600", "data-start" => "1200", "data-x" => "20", "data-y" => "100"}
        /   %h5 KICKSTART YOUR WEBSITE
        / .caption.sfb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "1500", "data-x" => "20", "data-y" => "160"}
        /   %h2 WITH SLIDER REVOLUTION!
        / .caption.lfr{"data-speed" => "300", "data-start" => "1300", "data-x" => "20", "data-y" => "240"}
        /   %p
        /     Unlimited again is there anyone who transaction again
        /     = succeed "is" do
        /       %br/
        / .caption.lfr.slide-img{"data-easing" => "easeInCirc", "data-speed" => "600", "data-start" => "2100", "data-x" => "600", "data-y" => "90"}
        /   %img.img-responsive{alt: "", src: asset_path("lenord-single-page-theme/img/4.png")}/
/ End Revolution Slider