%span.service
.service
  .container
    %h2.head SERVICE
    %h3 Automated Service
    %p
      In software testing, test automation is the use of special software (separate from the software being tested) 
      to control the execution of tests and the comparison of actual outcomes with predicted outcomes.
    %p
      Test automation can automate some repetitive but necessary tasks in a formalized testing process already in place, or add additional testing that would be difficult to perform manually.
    %h2
    / .service-top
    /   .row
    /     .col-md-3.col-sm-3
    /       / Service top item
    /       .text-center
    /         .simg
    /           / Images
    /           %img.simg-one.animated{alt: "", src: asset_path("img/service/12.png")}/
    /           %img.simg-two.animated{alt: "", src: asset_path("img/service/11.png")}/
    /         / Heading
    /         %h3 Mail Box
    /     .col-md-3.col-sm-3
    /       / Service top item
    /       .text-center
    /         .simg
    /           / Images
    /           %img.simg-three.animated{alt: "", src: asset_path("img/service/22.png")}/
    /           %img.simg-four.animated{alt: "", src: asset_path("img/service/21.png")}/
    /         / Heading
    /         %h3 Tablet
    /     .col-md-3.col-sm-3
    /       / Service top item
    /       .text-center
    /         .simg
    /           / Images
    /           %img.simg-five.animated{alt: "", src: asset_path("img/service/32.png")}/
    /           %img.simg-six.animated{alt: "", src: asset_path("img/service/31.png")}/
    /         / Heading
    /         %h3 Maps
    /     .col-md-3.col-sm-3
    /       / Service top item
    /       .text-center
    /         .simg
    /           / Images
    /           %img.simg-seven.animated{alt: "", src: asset_path("img/service/42.png")}/
    /           %img.simg-eight.animated{alt: "", src: asset_path("img/service/41.png")}/
    /         / Heading
    /         %h3 Security
    .row
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          / Service Icon
          %i.fa.fa-spinner
          / Heading
          %h3 Video/Audio
          / Paragraph
          %p Guranttee Image Issue
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          %i.fa.fa-cog
          %h3 Network 
          %p CGI
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          %i.fa.fa-bug
          %h3 Hardware 
          %p Use Programmable Hardware Controller to let our tests be automated.
    .row
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          %i.fa.fa-pencil
          %h3 Documentation
          %p Ensure the documents correctness.
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          %i.fa.fa-filter
          %h3 Image Quality
          %p Repellat in which toil and pain can pleasure.eveniet ut et voluptates recusandae.
      .col-md-4.col-sm-4
        / Service Item
        .service-item
          %i.fa.fa-fire
          %h3 Handy Tools
          %p Temporibus autem quibusdam et voluptates repudiandae sint et molestiae itaque.
/ End Service
