!!!
%html
  %head
    %title VIVOTEK DQA DEVELOPER
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / Description, Keywords and Author
    = csrf_meta_tags
  %body    
    = yield

